/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}


/**************/
/* fonds */
/**************/

p{
	font-family: "omnes-pro", sans-serif;
	font-weight: 400;
	font-style: normal;
}

h2{
    font-family: brandon-grotesque, sans-serif;
    font-size: 1.25rem;
    font-weight: 900;
    letter-spacing: 1.3px;
    line-height: 1.15;
    margin: 0 0 0.9rem;
    text-transform: uppercase;
}

a, h3{
    font-family: brandon-grotesque, sans-serif;
    font-size: 0.75rem;
    font-weight: 1000;
    letter-spacing: 1.3px;
    line-height: 1.15;
    margin: 0 0 0.9rem;
    text-transform: uppercase;
}

/**************/
/* einde fonds */
/**************/

li{
	list-style-type: none;
	text-decoration-line: none;
}

body{
	margin: 0em;
	background-color: #FCFCFC;
}

header{
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	align-items: center;
	padding-top: 1em;
	margin-left: 1em;
	margin-right: 1em;
	min-height: 60px;
}


header img, footer img{
	height: 3.8em;
	width: 8.5em;
}

 /* nav.open{
	height: 100vh;
}

 nav{
	background-color: red;
	position: fixed;
	left: 0;
	width: 100%;
	top:6rem;
} 

nav li{
	list-style-type: none;
	text-decoration-line: none;
	display: flex;
} */


/***************/
/* Introductie */
/***************/

.intro{
	margin: 2em;
	background-color: white;
	box-shadow: 0 5px 20px rgba(75, 75, 75, 0.08);
}

.intro p{
	padding: 1.5em;
}
.introVideo {
position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;   /* maakt de container perfect vierkant */
  overflow: hidden; /* crop */
}

.introVideo video{
   position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 0;  /* onder de tekst */

}

.videoContent {
  position: absolute;
  bottom: 10%;          /* net zoals op Liefmans */
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;           /* boven video */
  text-align: center;
  color: white;
  width: 90%;
}

a{
	background-color:#D2060D;
	text-decoration: none;
	color: white;
	padding: 0.75rem 1.1rem 0.75rem 2.2rem;
	border-radius: 0.5em;
	width: 11em;
	margin-left: 1.5em;
} 

.intro a{
	box-shadow: 0 7px 20px 0 rgba(97, 0, 3, 0.28);
}

/*********************/
/* einde introductie */
/*********************/

.glas {
	display: flex;
	flex-direction: row;
	justify-content: end;
	margin-right: 1em;
 } 

.glas img:first-of-type{
	width: 10em;
	height: 13.5em;
}
.glas img:last-of-type{
	width: 5em;
	height: 5em;
	margin-top: 4em;
	margin-left: 0.4em;
}

.fles{
	width: 7.5em;
	height: 28em;
}

.flesjes{
	display: flex;
	flex-direction: row;
	align-items: center;
}



img[alt="flesje-fruitesse"], img[alt="flesje-peach"]{
	transform: rotate(10deg);
	margin-right: 1em;
}

img[alt="flesje-fruitesse0.0"], img[alt="flesje-peach0.0"]{
	transform: rotate(-10deg);
	margin-right: 1em;
}

.OnTheRocks{
	display: flex;
	flex-direction: column;
	padding-left: 1em;
}

/*********************/
/* aporo o'clock*/
/*********************/

.aporo img,.cocktailCarousel li img, .instaCarousel li img{
	width: 100%;
} 

[alt="0.0 glas"]{
	z-index: 1;
}
	
.aporoBlok{
	margin: 2em;
	padding: 1em;
	background-color: white;
	box-shadow: 0 5px 20px rgba(75, 75, 75, 0.08);
	z-index: 2;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

